*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#071321;
    color:white;
    font-family:'Poppins',sans-serif;
}

.hero{
    min-height:100vh;
    padding:40px 8%;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:#1EA7FF;
    font-size:32px;
}

nav a{
    color:white;
    text-decoration:none;
    border:1px solid #1EA7FF;
    padding:12px 24px;
    border-radius:50px;
    transition:.3s;
}

nav a:hover{
    background:#1EA7FF;
}

.hero-content{
    margin-top:120px;
    max-width:650px;
}

.hero-content h1{
    font-size:72px;
    line-height:1.1;
}

.hero-content p{
    margin:30px 0;
    font-size:20px;
    color:#b8c6d9;
}

.btn{
    display:inline-block;
    background:#1EA7FF;
    color:white;
    padding:18px 36px;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
}